.wrapper {
    height: calc(100vh - 64px);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.instruction {
    font-size: 2em;
    opacity: 0.4;
    margin-bottom: 0;
}

.bottomContainer {
    width: 1280px;
    display: flex;
    justify-content: center;
}