.content {
    padding-left: 300px;
    height: calc(100vh - 64px);
}

.searchContainer {
    height: 20%;
    color: white;
    padding: 1em 2em;
}

.tracksContainer {
    height: 75%;
    padding: 0.5em 0.75em;
}

.logo {
    color: white;
    text-decoration: none;
}

.generate {
    color: white !important;
}