.container {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.welcome {
    font-size: 4em;
    opacity: 0.4;
    margin-bottom: 0.1em;
}

.instructions {
    font-size: 2em;
    opacity: 0.4;
}