.tunesTM {
    text-align: center;
    opacity: 0.5;
    font-size: 1.6em;
    margin-top: 0.4em;
    text-decoration: none !important;
    color: white;
}

.noUnderline {
    text-decoration: none;
}