.container {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.welcome {
    font-size: 4em;
    opacity: 0.4;
    margin-bottom: 0.1em;
    margin-top: 0;
}

.instructions {
    font-size: 2em;
    opacity: 0.4;
}

.smile {
    color: black !important;
    opacity: 0.4;
    font-size: 10em !important;
}