.container {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.generating {
    font-size: 4em;
    opacity: 0.4;
    margin-bottom: 0.1em;
    margin-top: 0;
}

.subText {
    font-size: 1.5em;
    opacity: 0.4;
    text-align: center;
}

.smile {
    color: black !important;
    opacity: 0.4;
    font-size: 10em !important;
}